body {
    background-color: #D6D1CA;
}

nav {
    background-color: rgb(18, 71, 52);
}
a {
    color: white;
}
button {
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    display: inline-block;
    width: 100%;
}
#dep_nav_form{
    text-align: center;
}

.navbar-toggler {
    background-color: white;
    width:auto;
    height: 50px;
}

.Search {
    display: inline-block;
    width: auto;
}

.navbar-brand img {
    width: 50px;
    height: auto;
}
@media screen and (max-width: 992px) {
    .navbar-brand img {
        width: 100px;
        height: auto;
    }
    
}